.container {
  margin-top: 200px;
  padding-top: 100px;
  align-items: center;
  text-align: center;
}

.content {
    display: flex;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    
}

.title span {
  border-bottom: 2px solid #a529cb; /* Cor do sublinhado */
}

.text {
    margin-top: 80px;
    margin-left: 60px;
    flex: 1;
}


.image {
    text-align: left; /* Alinha a imagem à direita */
}

.image img {
  border-radius: 50%;
  width: 350px;
  border:  5px solid #a529cb;;
}

.about__info {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2-5);
  }

.about__info-title {
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
  }

  .about__info-name {
    font-size: var(--smaller-font-size);
  }

  .cv-button {
    margin-top: 20px;
    background-color: #a529cb; /* Cor de fundo roxo */
    border-radius: 10px; /* Borda oval (50% do tamanho) */
    padding: 10px 20px; /* Ajuste o preenchimento conforme necessário */
    color: white !important; /* Cor do texto branca */
    font-size: 16px; /* Tamanho da fonte do texto */
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
  



  @media (max-width: 767px) {

    .container {
      margin-top: 60px;
    }
    
    .content {
        flex-direction: column; /* Empilha os elementos na versão responsiva */
        align-items: center;
        margin: 20px;
    }
  
    .text {
        margin-left: 0;
        text-align: center;
    }
  
    .image {
        text-align: center;
        
    }

    .image img {

      width: 250px;
    }
  }