<div class="container" id="about-me">
    <div class="title">
        <h1><span>Sobre Mim</span></h1>
    </div>
    <div class="content">
        <div class="image" data-aos="fade-right">
            <img src="https://i.imgur.com/iMe075d.jpg" class="picture">
        </div>
        <div class="text" data-aos="fade-left">
            <h3>Tenho 20 anos e sou uma desenvolvedora front-end júnior apaixonada por criar experiências web incríveis e interativas. 
                Minha jornada no mundo da programação começou em 2021 quando fiz meu primeiro curso de lógica da programação. 
                A partir daí surgiu a minha fascinação pelo design web e o desejo de transformar minhas ideias criativas 
                em realidade digital.
            </h3>
            <h3>Quando não estou programando, estou lendo, ouvindo música ou jogando.</h3>
            <button mat-button class="cv-button">
                <i class="uil uil-file-download"></i>
                <a href="assets/files/SamaraCaldasFerreira.pdf" download="SamaraCaldasFerreira.pdf">
                  Download CV
                </a>
            </button>
              

        </div>

    </div>
</div>    
