<div class="container" id="contact-me">
    <div class="title">
        <h1><span>Fale Comigo</span></h1>
    </div>
    <div class="content">
        
            <div class="social" data-aos="fade-right">
                <div class="socials">
                    <a href="https://www.linkedin.com/in/samara-caldas-1ab88120a/" target="_blank" class="social-icon linkedin-icon">
                      <i class="uil uil-linkedin-alt"></i> 
                    </a>
                    <a href="https://github.com/samaracaldas" target="_blank" class="social-icon github-icon">
                      <i class="uil uil-github-alt"></i> 
                    </a>
                </div>
                <a href="https://api.whatsapp.com/send?phone=SEUNUMERO" target="_blank" class="social-icon whatsapp-icon">
                    <i class="uil uil-whatsapp"></i> <span class="text"> (21) 98264-8329

                    </span>
                  </a>
                  <a href="mailto:seuemail@email.com" class="social-icon email-icon">
                    <i class="uil uil-envelope"></i> <span class="text"> samaracaldass@hotmail.com</span>
                  </a>
            </div>
            <!-- <div class="form" data-aos="fade-left">
              <form >
                <mat-form-field appearance="outline">
                  <mat-label>Nome:</mat-label>
                  <input type="text" id="nome" formControlName="nome" matInput>
                </mat-form-field>
            
                <mat-form-field appearance="outline">
                  <mat-label>E-mail:</mat-label>
                  <input type="email" id="email" formControlName="email" matInput>
                </mat-form-field>
            
                <mat-form-field appearance="outline">
                  <mat-label>Mensagem:</mat-label>
                  <textarea id="mensagem" formControlName="mensagem" matInput></textarea>
                </mat-form-field>
            
                <button type="submit" mat-button class="talk-to-me-button"><i class="uil uil-message"></i> Enviar Mensagem</button>
              </form>
            </div>
             -->
          </div>
          
          
          <p class="copyright">© 2023 Samara Caldas</p>
</div>    