<div class="container" id="skills">
    <div class="title">
      <h1><span>Skills</span></h1>
    </div>
    <div class="content cards">
      <div data-aos="fade-right">
        <mat-card class="card">
            <mat-card-content>
              <h2 class="card-title"><span>Frontend</span></h2>
              <p class="subtitle">1 ano</p>
              <div class="skills">

                <div class="skill">
                  <div class="text-above">
                      <p class="text-left">HTML</p>
                      <p class="text-right">100%</p>
                  </div>
                  <mat-progress-bar mode="determinate" value="100" max="100"></mat-progress-bar>
                </div>
    
                <div class="skill">
                  <div class="text-above">
                      <p class="text-left">CSS</p>
                      <p class="text-right">100%</p>
                  </div>
                  <mat-progress-bar mode="determinate" value="100" max="100"></mat-progress-bar>
                </div>
    
                <div class="skill">
                  <div class="text-above">
                      <p class="text-left">JavaScript</p>
                      <p class="text-right">85%</p>
                  </div>
                  <mat-progress-bar mode="determinate" value="85" max="100"></mat-progress-bar>
                </div>
    
                <div class="skill">
                  <div class="text-above">
                      <p class="text-left">Angular</p>
                      <p class="text-right">50%</p>
                  </div>
                  <mat-progress-bar mode="determinate" value="50" max="100"></mat-progress-bar>
                </div>
              </div>
            
          </mat-card-content>
        </mat-card>
      </div>

      <div data-aos="fade-left">

        <mat-card class="card">
          <mat-card-content>
            <h2 class="card-title"><span>Backend</span></h2>

            <p class="subtitle">1 ano</p>
            <div class="skills">

              <div class="skill">
                <div class="text-above">
                    <p class="text-left">Python</p>
                    <p class="text-right">65%</p>
                </div>
                <mat-progress-bar mode="determinate" value="65" max="100"></mat-progress-bar>
              </div>

              <div class="skill">
                <div class="text-above">
                    <p class="text-left">Firebase</p>
                    <p class="text-right">50%</p>
                </div>
                <mat-progress-bar mode="determinate" value="50" max="100"></mat-progress-bar>
              </div>            
            </div>
                  
        </mat-card-content>
      </mat-card>
      </div>
  
      
  
      
      
    </div>
  </div>
  