<div class="container" id="portfolio">
    <div class="title">
      <h1><span>Portfolio</span></h1>
    </div>
    <div class="content cards">
        <div data-aos="flip-left">
          <mat-card class="card">
            <img mat-card-image src="assets/img/todoList.png" alt="Card 1">
            <mat-card-content>
              <h2 class="card-title"><span>To Do List</span></h2>
              <p class="description">Uma lista de tarefas para você organizar o seu dia!</p>
              <p class="icons">
                <img src="assets/svg/html.svg" alt="">
                <img src="assets/svg/css.svg" alt="">
                <img src="assets/svg/js.svg" alt="">
                <!-- <img src="assets/svg/css-purple.svg" alt="">
                <img src="assets/svg/html-purple.svg" alt="">
                <img src="assets/svg/js-purple.svg" alt=""> -->
              </p>

              <a mat-button class="button" href="https://samaracaldas.github.io/todoList/" target="_blank">
                <i class="fas fa-code icon"></i>
                <span class="text"> Demo</span>
              </a>

              <a mat-button class="button" href="https://github.com/samaracaldas/todoList" target="_blank">
                <i class="uil uil-github-alt icon"></i>
                <span class="text">   Github</span>
              </a>
            </mat-card-content>
          </mat-card>
        </div>
      

      
  
      
  
      
      
    </div>
  </div>
  