app-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100; /* Para garantir que o navbar esteja na parte superior */
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ocupa pelo menos a altura total da janela */
}