<div class="container" id="home">

    <div class="content">
        <div class="text">
            <br>
            <h1 class="title">Olá, meu nome é Samara!</h1>
            <h2 class="sub-title"><span>Frontend Developer</span></h2>
            <br>
            <h3>Com um forte conjunto de habilidades em 
                HTML, CSS e JavaScript,<br> estou empenhada em transformar designs criativos
                 em interfaces interativas e funcionais.</h3>

                 
                 <a href="#contact-me"><button mat-button class="talk-to-me-button">
                    <mat-icon>chat</mat-icon> Diga olá!
                  </button></a>
                  
                 
        </div>
      

    </div>
</div>    
